.git/
.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

data/
notebooks/
docs/
results/
threshold_tests/
training_logs/
scripts/

models/baseline/
models/experiments/

pretrained_models/

.claude/
.vscode/
.idea/

Dockerfile
.dockerignore
README.md
